<fieldset class="fieldContainer">
	<div class="itemLabel">
		Discord ID:
	</div>
	<div class="itemContent">
		{{:data.discord_id}}
	</div>
	<div class="itemLabel">
		Discord KEY:
	</div>
	<div class="itemContent">
		{{:data.discord_key}}
	</div>
</fieldset>